{% extends 'base.html' %}
{% load static %}
{% block content %}
          <div class="col-sm-10">
            <div class="card">

              <div class="card-body">
                <h5 class="card-title">{{book.title}} by {{book.author}}</h5>
                <img src="{{book.image.url}}" class="card-img-top" width="400" height="450" alt="...">              
                <p class="card-text">{{book.desc}}</p>
                <p class="card-text" style="color: blue;">{{book.publisher}}</p>   
                    
              </div>
            </div>

{% endblock content %}