{%extends 'base.html' %}
{% block content %}
{% load static %}

<br>
<div>
    <h1>{% if category %}{{ category.name }}{% else %} BOOKS {% endif %}</h1>
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Book Categories
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{% url "book:book_list" %}">Show All Books</a>
        {% for c in categories %}
        <a class="dropdown-item" href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% endfor %}
      </div>
  </div> 
    <form method = "POST" class="d-flex" style="margin:auto;max-width:300px">
      {% csrf_token %}
      <input class="form-control me-2" name="search" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  {% comment %} <div clas="card-body">
      <b>Sort By: - </b>
      <a href="{{ book.get_absolute_url }}?filter={{ filter }}&orderby=id">ID</a> |
      <a href="{{ book.get_absolute_url }}?filter={{ filter }}&orderby=price">Price</a> |
      <a href="{{ book.get_absolute_url }}?filter={{ filter }}&orderby=title">Title</a>
    </div>  {% endcomment %}
    {% if result %}
    <div class="row row-cols-2 row-cols-lg-4 g-0 g-lg-0">      
      {% for book in result %}
      <div class="col-sm-6">
          <h3> <a href="{{ book.get_absolute_url }}">{{book.title}}</h3></a>
            <div class="card" style="width: 20rem;">                         
          <img src="{{book.image.url}}" class="card-img-top" width="100px" height="350px" alt="...">  
          <div class="card-body">
            <h5 class="card-title">{{book.title}} by {{book.author}}</h5>
            <p class="card-text">Published by{{book.publisher}}</p>
            <p class="card-text" style="color: blue;">Rs {{book.amount}}</p>   
            <a href="" class="btn btn-primary">Buy</a>
          </div>
        </div>
      </div>
    </div>  
    {% endfor %}
    {% else %}

    
<div class="row row-cols-2 row-cols-lg-4 g-0 g-lg-0">
  <div class="col">
{% for book in book %}
     <h3> <a href="{{ book.get_absolute_url }}">{{book.title}}</h3></a>
     <div class="card" style="width: 20rem;">                         
        <img src="{{book.image.url}}" class="card-img-top" width="100px" height="350px" alt="...">  
      <div class="card-body">
        <h5 class="card-title">{{book.title}} by {{book.author}}</h5>
        <p class="card-text">Published by {{book.publisher}}</p>
        <p class="card-text" style="color: blue;">Rs {{book.amount}}</p>   
        <a href="" class="btn btn-primary">Buy</a>
        
    </div>
  </div>
    {% endfor %}
    {% endif %}
  </div>
</div>
{% endblock content %}




